@font-face {
    font-family: alk;
    src: url(alk_life.otf);
}
@font-face {
    font-family: dejavu;
    src: url(bpg_dejavu_sans.ttf);
}
* {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 200px;
    background-color: #D9D9D9;
}

.logo {
    margin-left: 130px;
}
.active-link {
    color: #A62B28;
    margin: 0px 35px;
}
.link {
    color: #717276;
    margin: 0px 35px;
}
header nav {
    margin-right: 130px;
}
header ul {
    display: flex;
    font-family: alk;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 35px;
}
ul,
ol {
    list-style-type: none;
}
.backgroundimage {
    margin: 160px 130px;
}
.section1 {
    margin: 0 130px 160px 130px;
    width: 1180px;
    height: 856px;
}
.section1 .setion-header {
    display: flex;
    align-items: center;
    width: 533px;
    height: 100px;
    margin-bottom: 40px;
}
.setion-header .ქალები-ლიტერატურაში {
    display: flex;
    font-family: DejaVu;
    font-size: 32px;
    font-weight: 700;
    color: #717276;
    margin-left: 40px;
}
.books {
    display: flex;
    justify-content: space-between;
}
.section2 {
    margin: 0 130px 160px 130px;
    width: 1180px;
    height: 400px;
}
.section2 .section-header2 {
    display: flex;
    align-items: center;
    width: 432px;
    height: 100px;
    margin-bottom: 40px;
}
.section-header2 .კვირის-ავტორები {
    display: flex;
    font-family: Dejavu;
    font-size: 32px;
    font-weight: 700;
    color: #717276;
    margin-left: 40px;

}
.autor {
    display: flex;
    justify-content: space-between;
}
footer {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 248px;
    padding: 71px 130px 71px 130px;
    background-color: #D9D9D9;
}
footer nav {
    width: 174px;
    height: 106px;
}
footer .link {
    font-family: alk;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #000000;
}
footer .icons {
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin: ;
}
footer .middle-icon1 {
    margin: 0 21px;
}
footer .middle-icon2 {
    margin-right: 21px;
}

